body {
    background-image: url("https://previews.123rf.com/images/rrvachov/rrvachov1701/rrvachov170100018/70930323-spectators-in-the-large-concert-hall-.jpg");
    background-size: 100%;
    color: white;
    font-size: 30px;
    height: 100%;
}
html, body {    height: 100%;    }
.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}
.login-form {
    width: 340px;
    margin: 50px auto;
}
.form-group {
    margin-bottom: 15px;
}
.btn-primary {
    margin-bottom: 15px;
}
.add-product-form {
    width: 340px;
    margin: 50px auto;
}
.index-controls {
    width: 340px;
    margin: 50px auto;
}
#access_denied {
    display: block;
    margin: auto;
    width: 200px;
    height: 120px;
}
.logout {
    padding: 30px;
    display:block;
    color: white;
    text-align:center;
    position: absolute;
    width: 150px;
    top: 10px;
    right: 10px;
}
.rTable {
    display: table;
    width: 100%;
}
.rTableRow {
    display: table-row;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.rTableHeading {
    display: table-header-group;
    font-weight: bold;
}
.rTableBody {
    display: table-row-group;
}
.validation-error {
    display: none;
}
.i18n {
    width: 125px;
    height: 60px;
}
